# Mac stuff:
.DS_Store

# trunk output folder
dist

# Local Android SDK/NDK (repo-local install)
.android-sdk/

# Rust compile target directories:
target
target_ra
target_wasm

# https://github.com/lycheeverse/lychee
.lycheecache
